body { background: #c8d916; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 48px; display: flex; }
.block-order-0 { color: #fcfd1b; font-size: 16px; margin-bottom: 5px; }
.block-email-1 { color: #b3c43f; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #8f2340; font-size: 13px; margin-bottom: 5px; }
.block-search-3 { color: #ecb46f; font-size: 16px; margin-bottom: 5px; }
.block-uploader-4 { color: #926813; font-size: 18px; margin-bottom: 5px; }
.block-invoice-5 { color: #60d81d; font-size: 13px; margin-bottom: 5px; }
.block-order-6 { color: #a48083; font-size: 12px; margin-bottom: 5px; }
.block-shipping-7 { color: #994c76; font-size: 15px; margin-bottom: 5px; }
.block-session-8 { color: #6bfd00; font-size: 13px; margin-bottom: 5px; }
.block-token-9 { color: #b07ddc; font-size: 12px; margin-bottom: 5px; }
.block-product-10 { color: #81cd3c; font-size: 20px; margin-bottom: 5px; }